<div class="cats">
  {{#each items}}
    <div class="cat">
      <div class="ico">{{> icon name=icon size=22}}</div>
      <h5>{{title}}</h5>
      <p>{{body}}</p>
      <div class="ex">{{ex}}</div>
    </div>
  {{/each}}
</div>
