<div class="layers">
  {{#each items}}
    <div class="layer">
      <div class="l-num">{{num}}</div>
      <div class="l-body">
        <h5>{{title}}</h5>
        <p>{{body}}</p>
      </div>
      <div class="l-side">{{side}}</div>
    </div>
  {{/each}}
</div>
