<div class="pitfalls">
  {{#each items}}
    <div class="pit">
      <div class="n">{{n}}</div>
      <div>
        <h5>{{title}}</h5>
        <p>{{{md body_md}}}</p>
      </div>
    </div>
  {{/each}}
</div>
