<div class="steps">
  {{#each items}}
    <div class="step">
      <div class="n">{{n}}</div>
      <div class="ico">{{> icon name=icon size=22}}</div>
      <h5>{{title}}</h5>
      <p>{{{md body_md}}}</p>
    </div>
  {{/each}}
</div>
