<div class="usecases">
  {{#each items}}
    <div class="uc">
      <div class="ico">{{> icon name=icon size=22}}</div>
      <h5>{{title}}</h5>
      <p>{{body}}</p>
      <div class="meta">
        <span>{{meta_left}}</span>
        <span>{{meta_right}}</span>
      </div>
    </div>
  {{/each}}
</div>
